@import "./null.scss";
// #app {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   font-weight: normal;
// }
* {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  background: rgba(206, 206, 206, 0.2);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgb(75, 141, 119);
  border-radius: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: rgb(82, 82, 82);
  border: none;
  color: #fff;
  border-radius: 5px;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  padding: 2px 5px 5px 5px;
  transition: all ease-in 0.1s;
  &:hover {
    filter: brightness(1.1);
  }
}

input {
  border-radius: 8px;
  border: 1px solid #646464;
  background-color: #fbfbfb;
  padding: 5px;
  width: fit-content;
  min-width: 50px;
}
textarea {
  border-radius: 12px;
  border: 1px solid #646464;
  background-color: #fbfbfb;
  padding: 5px;
}
ul {
  padding-inline-start: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color ease-in 0.2s;

  &:hover {
    color: beige;
  }
}
